* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.day {
  flex-shrink: 0;
  width: calc(100% / 7);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  &.current {
    opacity: 1;
  }
  &.today {
    color: red;
  }
}

.charts {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}

.chart {
  width: 50%;
  height: 50vh;
  user-select: none;
  canvas {
    height: 100%;
    width: 100%;
  }
}

@layer scroll-driven-animations {
  @supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
    @keyframes scale-up {
      from {
        scale: 0.85;
        rotate: 45deg;
      }
    }
    .card {
      animation: scale-up linear both;
      animation-timeline: view();
      animation-range: entry 50% entry 100%;
    }
  }
}
